html
  head
    title= title
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src="vendor/sweetalert/dist/sweetalert.min.js")
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="vendor/sweetalert/dist/sweetalert.css")
    link(rel="stylesheet", href="../stylesheets/style.css")
  body
    include nav
    block content
