extend ../templates/default

block content
    .container
        .form_top
            h2 Agregar 
                span Articulos
        form.form_reg(action='/user/registrar', method='POST')
            input.input(type='text', name='IDProducto', placeholder='ID Producto')
            input.input(type='text', name='Nombre', placeholder='Nombre')
            input.input(type='text', name='Cantidad', placeholder='Cantidad')
            .btn_form
                input.btn_submit(type='submit', value='Enviar')
                input.btn_reset(type='reset', value='Limpiar')